<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>title</key>
    <string>Randomy</string>
    <key>entry</key>
    <dict>
      <key>cell</key>
      <string>PSLinkCell</string>
      <key>icon</key>
      <string>Randomy.png</string>
      <key>label</key>
      <string>Randomy</string>
    </dict>
    <key>items</key>
    <array>
	   <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>label</key>
        <string>☆ Randomy ☆</string>
         <key>footerText</key>
        <string>Making changes to options below requires restarting SpringBoard.</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSSwitchCell</string>
        <key>default</key>
        <true/>
        <key>PostNotification</key>
		<string>com.PS.Randomy.prefs</string>
        <key>defaults</key>
        <string>com.PS.Randomy</string>
        <key>key</key>
        <string>randomyEnabled</string>
        <key>label</key>
        <string>Enabled</string>
      </dict>
       <dict>
			<key>isController</key>
			<true/>
			<key>bundle</key>
			<string>AppList</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>label</key>
			<string>🚫 Disabled Applications</string>
			<key>ALSettingsPath</key>
			<string>/var/mobile/Library/Preferences/com.PS.Randomy.plist</string>
			<key>ALSettingsKeyPrefix</key>
			<string>Randomy-</string>
			<key>ALChangeNotification</key>
			<string>com.PS.Randomy.prefs</string>
			<key>ALAllowsSelection</key>
			<string>1</string>
			<key>ALSectionDescriptors</key>
			<array>
				<dict>
					<key>title</key>
					<string>System Applications</string>
					<key>predicate</key>
					<string>isSystemApplication = TRUE</string>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
				</dict>
				<dict>
					<key>title</key>
					<string>User Applications</string>
					<key>predicate</key>
					<string>isSystemApplication = FALSE</string>
					<key>cell-class-name</key>
					<string>ALSwitchCell</string>
					<key>icon-size</key>
					<string>29</string>
					<key>suppress-hidden-apps</key>
					<string>1</string>
				</dict>
			</array>
		</dict>
      <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Color Transition Duration (sec)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>5</string>
			<key>defaults</key>
			<string>com.PS.Randomy</string>
			<key>set</key>
        	<string>setInput:specifier:</string>
			<key>key</key>
			<string>randomyAnimationInterval</string>
			<key>label</key>
			<string></string>
			<key>PostNotification</key>
			<string>com.PS.Randomy.prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Color Transition Delay (sec)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string>1</string>
			<key>defaults</key>
			<string>com.PS.Randomy</string>
			<key>set</key>
        	<string>setInput:specifier:</string>
			<key>key</key>
			<string>randomyAnimationDelay</string>
			<key>label</key>
			<string></string>
			<key>PostNotification</key>
			<string>com.PS.Randomy.prefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Blur Color Hardness</string>
		</dict>
		 <dict>
			<key>PostNotification</key>
			<string>com.PS.Randomy.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.5</real>
			<key>defaults</key>
			<string>com.PS.Randomy</string>
			<key>key</key>
			<string>colorAlpha</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Tint Color Opacity</string>
			<key>footerText</key>
			<string>Set the amount of color for tinting the blur view.</string>
		</dict>
		 <dict>
			<key>PostNotification</key>
			<string>com.PS.Randomy.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.3</real>
			<key>defaults</key>
			<string>com.PS.Randomy</string>
			<key>key</key>
			<string>tintAlpha</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Color Randomization</string>
			<key>footerText</key>
			<string>Set random color tone.</string>
		</dict>
		 <dict>
			<key>PostNotification</key>
			<string>com.PS.Randomy.prefs</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.5</real>
			<key>defaults</key>
			<string>com.PS.Randomy</string>
			<key>key</key>
			<string>away</string>
			<key>max</key>
			<real>1.0</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<false/>
			<key>leftImage</key>
			<string>black.png</string>
			<key>rightImage</key>
			<string>white.png</string>
			<key>cellClass</key>
			<string>RandomySliderTableCell</string>
		</dict>
		<dict>
      		<key>cell</key>
      		<string>PSGroupCell</string>
      </dict>
      <dict>
      		<key>cell</key>
      		<string>PSButtonCell</string>
      		<key>action</key>
      		<string>donate:</string>
      		<key>label</key>
      		<string>Donate 😘</string>
      </dict>
       <dict>
      		<key>cell</key>
      		<string>PSButtonCell</string>
      		<key>action</key>
      		<string>twt:</string>
      		<key>label</key>
      		<string>Developer's Twitter</string>
      		<key>icon</key>
			<string>twitter@2x.png</string>
      </dict>
      <dict>
        <key>cell</key>
        <string>PSGroupCell</string>
        <key>footerText</key>
        <string>© 2013 - 2015 Thatchapon Unprasert
(@PoomSmart)</string>
      </dict>
    </array>
  </dict>
</plist>
